<!DOCTYPE html>
<html>
<body>
  <h1>If you have any questions or Suggestions, please send them to me from the email below.</h1>

  <%= form_with scope: :email, url: email_index_path, local: true do |form| %>

    <%# if @email.errors.any? %>
<!--      <div id="error_explanation">-->
<!--        <h2>-->
<!--          <%#= pluralize(@email.errors.count, "error") %> prohibited-->
<!--          this email from being saved:-->
<!--        </h2>-->
<!--        <ul>-->
          <%# @email.errors.full_messages.each do |msg| %>
<!--            <li><%#= msg %></li>-->
          <%# end %>
<!--        </ul>-->
<!--      </div>-->
    <%# end %>

    <p>
      <%= form.label :sender_name %><br>
      <%= form.text_field :sender_name %>
    </p>

    <p>
      <%= form.label :sender_email %><br>
      <%= form.text_field :sender_email %>
    </p>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :content %><br>
      <%= form.text_field :content %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</body>
</html>